<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find adbot_description)/urdf/sensors/razor_imu_m0.gazebo.xacro"/>
  <xacro:macro name="razor_imu_m0" params="ns">
    <joint name="imu_joint" type="fixed">
      <axis xyz="1 0 2"/>
      <origin xyz="0 0 0.19"/>
      <parent link="base_link"/>
      <child link="imu_link"/>
    </joint>

    <link name="imu_link">
      <inertial>
        <mass value="0.001"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size=".001 .001 .001"/>
        </geometry>
      </collision>
    </link>
  
    <xacro:razor_imu_m0_gazebo ros_topic="imu" update_rate="50" ns="${ns}"/>
  </xacro:macro>
</robot>
  
